@font-face {
  font-family: RobotoMonoItalic;
  src: url(../ressources/font/Roboto/Italic-VariableFont.ttf);
}
@font-face {
  font-family: RobotoMono;
  src: url(../ressources/font/Roboto/VariableFont.ttf);
}
@font-face {
  font-family: balsamiq;
  src: url(../ressources/font/Balsamiq.ttf);
}

.magasiner_liste{
	display: flex;
    width: 98%;
    flex-wrap: wrap;
    padding-top: 2.5em;  
}

.magasiner_items{
    margin-bottom: 2em;
    width: 25%;
    list-style: none;
}

.magasiner_div_image_cliquable{
    min-height: 256px;
    min-width: 256px;
    max-width: 256px;
    max-height: 256px;
    border: 2px solid black;
	border-radius: 1px 1px 1px 1px;    
}

.magasiner_image_cliquable{
    
    margin-left: 0px;
    max-width: inherit;
    max-height: inherit;
}

.magasiner_description_item{
    font-size: 80%;
    font-weight:500;
    font-family: RobotoMonoItalic;
}

h3{
    font-size: 110%;
    font-family: RobotoMono;
}
.magasiner_titre {
    font-family: balsamiq;
    margin-left: 2%;
}
