.menu{
	border: 3px solid black;
	border-radius: 3px 3px 3px 3px;
	display: flex;
}

.lien_administration{
	text-align: center;
	flex-grow: 1;
	padding-top: 2.5em;
	padding-right: 0.5em;
	text-align: right;
}

.copyright{
	text-align: center;
	border: 3px solid black;
	border-radius: 3px 3px 3px 3px;
	text-align: center;
}